.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: italic;
  }  

body
{
    background-color: rgb(5, 9, 15);
    margin:0px ;
}

#header
{
    background-color: #01010e;
    height: 100px;
    border-bottom: 0.2px solid rgb(11, 20, 32)
}

.headerbutton
{
    height: 50px;
    width: 100px;
    border-radius: 15px;
    margin-top:25px ;
    background-color: rgb(6, 65, 153);
    font-family: "Poppins",sans-serif;
    font-weight: 550;
    color:whitesmoke ;
    border:none ;
    float: right;
    margin-right:50px ;
}

.headerlogo
{
    margin-top:30px ;
    margin-left:25px ;
}

.moto
{
    font-family: "Poppins",sans-serif;
    font-weight: 800;
    background: -webkit-linear-gradient(rgb(35, 107, 214), rgb(9, 30, 59));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 60px;
    top: 70px;
}

#executorpreview
{
    width: 40%;
    margin-left:30% ;
    top:50px ;

}

#home
{
    margin-top: -40px;
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #01010e;
    overflow: hidden;
    z-index:-5 ;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 18;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #051129;
    top: 72%;
    left: 32%;
    animation-duration: 179s;
    animation-delay: -233s;
    transform-origin: -1vw 9vh;
    box-shadow: -40vmin 0 5.033850175822337vmin currentColor;
}
.background span:nth-child(1) {
    color: #051129;
    top: 31%;
    left: 83%;
    animation-duration: 274s;
    animation-delay: -116s;
    transform-origin: 12vw 13vh;
    box-shadow: -40vmin 0 5.895977127443604vmin currentColor;
}
.background span:nth-child(2) {
    color: #051129;
    top: 66%;
    left: 75%;
    animation-duration: 140s;
    animation-delay: -52s;
    transform-origin: -24vw 23vh;
    box-shadow: -40vmin 0 5.1288312460723375vmin currentColor;
}
.background span:nth-child(3) {
    color: #051129;
    top: 98%;
    left: 68%;
    animation-duration: 228s;
    animation-delay: -139s;
    transform-origin: -5vw -7vh;
    box-shadow: -40vmin 0 5.97266480586633vmin currentColor;
}
.background span:nth-child(4) {
    color: #051129;
    top: 20%;
    left: 12%;
    animation-duration: 56s;
    animation-delay: -217s;
    transform-origin: 20vw 16vh;
    box-shadow: -40vmin 0 5.733769480204935vmin currentColor;
}
.background span:nth-child(5) {
    color: #051129;
    top: 93%;
    left: 80%;
    animation-duration: 91s;
    animation-delay: -73s;
    transform-origin: -2vw -24vh;
    box-shadow: -40vmin 0 5.818049386331191vmin currentColor;
}
.background span:nth-child(6) {
    color: #051129;
    top: 59%;
    left: 59%;
    animation-duration: 199s;
    animation-delay: -132s;
    transform-origin: 22vw 2vh;
    box-shadow: 40vmin 0 5.458590873556713vmin currentColor;
}
.background span:nth-child(7) {
    color: #051129;
    top: 40%;
    left: 87%;
    animation-duration: 194s;
    animation-delay: -67s;
    transform-origin: 10vw -15vh;
    box-shadow: -40vmin 0 5.871813686383033vmin currentColor;
}
.background span:nth-child(8) {
    color: #051129;
    top: 87%;
    left: 60%;
    animation-duration: 238s;
    animation-delay: -97s;
    transform-origin: 12vw -15vh;
    box-shadow: -40vmin 0 5.978549898661004vmin currentColor;
}
.background span:nth-child(9) {
    color: #051129;
    top: 47%;
    left: 66%;
    animation-duration: 67s;
    animation-delay: -296s;
    transform-origin: -21vw 16vh;
    box-shadow: 40vmin 0 5.628161370398066vmin currentColor;
}
.background span:nth-child(10) {
    color: #051129;
    top: 93%;
    left: 35%;
    animation-duration: 206s;
    animation-delay: -228s;
    transform-origin: -15vw 22vh;
    box-shadow: -40vmin 0 5.6931367424230555vmin currentColor;
}
.background span:nth-child(11) {
    color: #051129;
    top: 63%;
    left: 35%;
    animation-duration: 132s;
    animation-delay: -62s;
    transform-origin: -22vw -22vh;
    box-shadow: 40vmin 0 5.309907709790583vmin currentColor;
}
.background span:nth-child(12) {
    color: #051129;
    top: 41%;
    left: 22%;
    animation-duration: 189s;
    animation-delay: -255s;
    transform-origin: 0vw -11vh;
    box-shadow: -40vmin 0 5.616490560470545vmin currentColor;
}
.background span:nth-child(13) {
    color: #051129;
    top: 47%;
    left: 89%;
    animation-duration: 247s;
    animation-delay: -39s;
    transform-origin: 7vw -24vh;
    box-shadow: -40vmin 0 5.165297692442099vmin currentColor;
}
.background span:nth-child(14) {
    color: #051129;
    top: 54%;
    left: 69%;
    animation-duration: 180s;
    animation-delay: -87s;
    transform-origin: 7vw -19vh;
    box-shadow: 40vmin 0 5.860261607205308vmin currentColor;
}
.background span:nth-child(15) {
    color: #051129;
    top: 15%;
    left: 12%;
    animation-duration: 151s;
    animation-delay: -165s;
    transform-origin: 17vw 25vh;
    box-shadow: 40vmin 0 5.54509827092391vmin currentColor;
}
.background span:nth-child(16) {
    color: #051129;
    top: 44%;
    left: 24%;
    animation-duration: 269s;
    animation-delay: -44s;
    transform-origin: 13vw 20vh;
    box-shadow: 40vmin 0 5.2147719949635025vmin currentColor;
}
.background span:nth-child(17) {
    color: #051129;
    top: 74%;
    left: 57%;
    animation-duration: 294s;
    animation-delay: -275s;
    transform-origin: 1vw -4vh;
    box-shadow: 40vmin 0 5.793158309189361vmin currentColor;
}
.background span:nth-child(18) {
    color: #051129;
    top: 68%;
    left: 67%;
    animation-duration: 66s;
    animation-delay: -82s;
    transform-origin: 18vw -1vh;
    box-shadow: -40vmin 0 5.906420024767489vmin currentColor;
}
.background span:nth-child(19) {
    color: #051129;
    top: 92%;
    left: 78%;
    animation-duration: 118s;
    animation-delay: -192s;
    transform-origin: -17vw 1vh;
    box-shadow: -40vmin 0 5.402653426057212vmin currentColor;
}

#maincontainer
{
    height: 50px;
    background-color:#030b1b ;
    border: #051129 solid 1px;
    width: 464px;
    height: 90px;
    border-radius: 30px;
    min-height: 90px;
    position: absolute;
    left: 50%;
    margin-top: 30px;
    transform: translate(-50%, -50%);
}

.mainbutton
{
    border: #051129 solid 1px;
    background-color: #0b265c;
    font-family: "Poppins";
    color:white ;
    border-radius: 15px;
    width: 200px;
    margin: 15px;
    height: 60px;
    font-weight: 600;
    font-size: 17px;
}

.mainbuttondiscord
{
    border: #051129 solid 1px;
    background-color: #1c105f;
    font-family: "Poppins";
    color:white ;
    border-radius: 15px;
    width: 200px;
    margin: 15px;
    height: 60px;
    font-weight: 600;
    font-size: 17px;
}

#featurescontainer
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 160px;
}

@media (max-width: 800px) {
    .flex-item-right, .flex-item-left {
      flex: 100%;
    }
  }  

.featureschild
{
    height: auto;
    width: 300px;
    min-width: 250px;
    background-color:#030b1b ;
    opacity: 0.5;
    border: #051129 solid 1px;
    height: 200px;
    border-radius: 17px;
    margin: 25px;
    flex:1 1 100px ;
}

h1
{
  font-family: 'Poppins';
  text-align: CENTER;
  color: white;
  font-size: 18px;
}
